h1 {
    color: #ccc;
    weight: 300;
}

.content {
    article {
        padding: 100px 0;
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
    }
}

img {
    max-width: 100%;;
}

// Parallax

.hero-box {
    position: relative;
    height: 1000px;
    background-image: url(../assets/sky2.png);
    background-size: auto 1000px;
    position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
}

.name-gif {
    position: absolute;
    z-index: 10;
    top: 20%;
    width:70%;
    left: 13%;
}

.name {
    height: 200px;
    width: 100%;
    background-image: url(../assets/name.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    z-index: 9;
}

.fore-bird {
    width: 360px;
    height: 300px;
    background-image: url(../assets/bird.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 60%;
    margin-left: 250px;
    -webkit-filter: blur(5px);
    margin-top: 20%;
    position: absolute;
    z-index: 12;
}

.back-bird {
    width: 100%;;
    height: 300px;
    background-image: url(../assets/bird2.png);
    background-size: 20%;
    margin-top: 10%;
    margin-left: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: 5;
    
}

.layer1 {
    width: 100%;
    height: 1000px;
    background-image: url(../assets/Layer1.png);
    background-repeat: no-repeat;
    background-size: auto 1000px;
    background-position: right bottom;
    position: absolute;
    z-index: 11;
}

.layer2 {
    width: 100%;
    height: 1000px;
    background-image: url(../assets/Layer2.png);
    background-repeat: no-repeat;
    background-size: auto 1000px;
    background-position: left bottom;
    position: absolute;
    z-index: 10;
    -webkit-filter: blur(2px);
}

.layer3 {
    width: 100%;
    height: 1000px;
    background-image: url(../assets/Layer3.png);
    background-repeat: no-repeat;
    background-size: auto 1000px;
    background-position: left bottom;
    position: absolute;
    z-index: 8;
}

.layer4 {
    width: 100%;
    height: 1000px;
    background-image: url(../assets/Layer4.png);
    background-repeat: no-repeat;
    background-size: auto 1000px;
    background-position: center bottom;
    background-size: 90%;
    position: absolute;
    z-index: 7;
    -webkit-filter: blur(2px);
}